@model List<InstaTransfer.DataAccess.CPurchaseOrder>
@using InstaTransfer.ITResources.Enums

<table id="ocompra-table" class="dtinit dtorders table table-striped table-hover table-bordered dt-responsive text-nowrap" cellspacing="0" style="width:100%" sidetitle="Detalle de la Orden">
    <thead>
        <tr>
            <th>Monto</th>
            <th>Cédula del Pagador</th>
            <th>Correo del Pagador</th>
            <th>Número de Orden (Comercio)</th>
            <th>Registro en Sistema</th>
            <th>Estado</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr guid="@item.Id" crif="@item.RifCommerce">
                <td>@item.Amount.ToString("#,##0.00", new System.Globalization.CultureInfo("es-VE")).Trim()</td>
                <td>@item.EndUserCI.ToString().Trim()</td>
                <td>@item.EndUserEmail.ToString().Trim()</td>
                <td>@(item.OrderNumber != null ? item.OrderNumber.ToString().Trim() : "No Especificado")</td>
                <td>@item.CreateDate.ToString("yyyy/MM/dd h:mm tt", new System.Globalization.CultureInfo("es-VE")).Trim()</td>
                <td class="text-center">
                    @if (item.CPurchaseOrderStatus.Id == (int)PurchaseOrderStatus.DeclarationPending)
                    {
                        <span class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="@item.CPurchaseOrderStatus.Description.ToString().Trim()" aria-describedby="tooltip508029">
                            <i class="md md-access-time"></i>
                        </span>
                    }
                    @if (item.CPurchaseOrderStatus.Id == (int)PurchaseOrderStatus.Declared)
                    {
                        <span class="badge badge-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="@item.CPurchaseOrderStatus.Description.ToString().Trim()" aria-describedby="tooltip508029">
                            <i class="md md-check"></i>
                        </span>
                    }
                    @if (item.CPurchaseOrderStatus.Id == (int)PurchaseOrderStatus.Annulled)
                    {
                        <span class="badge badge-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="@item.CPurchaseOrderStatus.Description.ToString().Trim()" aria-describedby="tooltip508029">
                            <i class="md md-close"></i>
                        </span>
                    }
                    @if (item.CPurchaseOrderStatus.Id == (int)PurchaseOrderStatus.DeclaredReconciled)
                    {
                        <span class="badge badge-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="@item.CPurchaseOrderStatus.Description.ToString().Trim()" aria-describedby="tooltip508029">
                            <i class="md md-done-all"></i>
                        </span>
                    }
                </td>
                <td class="text-center">
                    @item.CPurchaseOrderStatus.Description.ToString().Trim()
                </td>

            </tr>
        }

    </tbody>
</table>
<script type="text/javascript">

    // Detalle de la orden seleccionada
    function sideOrder(guid, crif) {
        if (guid) {
            ShowLoader();
            Pace.start();
            $.ajax({
                method: "POST",
                url: "@Url.Action("SideOrder", "Order")",
                data: { Id: guid, rif: crif },
            })
    .done(function (msg) {
        Pace.stop();
        $("#rsidebar").html(msg);
        if (!$('#wrapper').hasClass('right-bar-enabled')) {
            $('#wrapper').toggleClass('right-bar-enabled');
        }

        $('[data-toggle="tooltip"]').tooltip();
        HideLoader();
    })
        };
    }


    $(document).ready(function () {
        var filename = "@InstaTransfer.ITResources.BackEnd.BackEndResources.FilenameTableOrders";

        $('.dtorders td').on('click', function () {
            var guid = $(this).closest('tr').attr('guid');
            var crif = $(this).closest('tr').attr('crif');

            checkSession(function () {
                sideOrder(guid, crif);
            })

        });

        // Datatable init
        var table = $('#ocompra-table').DataTable({
            retrieve: true,
            "columnDefs": [
              {
                  "targets": [6],
                  "searchable": true,
                  "visible": false

              },
                {
                    "targets": [5],
                    "orderable": false,
                    "searchable": false
                },
            ],
            order: [4, 'desc'],

            buttons: [{
                text: 'Copiar',
                extend: "copy",
                exportOptions: {
                    columns: [0, 1, 2, 3, 4, 6]
                },
                className: "btn-sm"
            }, {
                extend: "csv",
                className: "btn-sm",
                action: function (e, dt, button, config) {
                    config.filename = filename;

                    $.fn.dataTable.ext.buttons.csvHtml5.action(e, dt, button, config);
                }
            }, {
                extend: "excel",
                exportOptions: {
                    columns: [0, 1, 2, 3, 4, 6]
                },
                className: "btn-sm",
                action: function (e, dt, button, config) {
                    config.filename = filename;
                    $.fn.dataTable.ext.buttons.excelHtml5.action(e, dt, button, config);
                }
            }, {
                extend: "pdf",
                exportOptions: {
                    columns: [0, 1, 2, 3, 4, 6]
                },
                className: "btn-sm",
                action: function (e, dt, button, config) {
                    config.filename = filename;

                    $.fn.dataTable.ext.buttons.pdfHtml5.action(e, dt, button, config);
                }
            }, {
                extend: "print",
                exportOptions: {
                    columns: [0, 1, 2, 3, 4, 6]
                },
                customize: function (win) {
                    // Style the body..
                    $(win.document.body)
                        .addClass('asset-print-body')
                        .css({ margin: '20px' })
                        .prepend($('<img />')
                            .attr('src', 'https://sasset.io/wp-content/uploads/2015/08/sasset_logo-300x87.png')
                            .addClass('asset-print-img')
                    );

                    /* Style for the table */
                    $(win.document.body)
                        .find('table')
                        .addClass('compact')
                        .css({
                            color: '#FF0000',
                            margin: '20px'
                            /* Etc CSS Styles..*/
                        });
                },
                text: '<i class="md md-lg md-print"></i>',
                className: "btn-sm",
                action: function (e, dt, button, config) {
                    config.filename = filename;

                    $.fn.dataTable.ext.buttons.print.action(e, dt, button, config);
                }
            }],
            language: {
                url: "@Url.Content("~/Scripts/datatables/spanish.json")",
                buttons: {
                    copyTitle: 'Tabla copiada al portapapeles',
                    copySuccess: {
                        _: 'Se han copiado %d filas.',
                        1: 'Se ha copiado 1 fila.'
                    }
                }
            },
            "dom": '<"row"<"col-md-6 col-sm-12"B><"col-md-6 col-sm-12  text-right"f>><"row"<"col-md-6 col-sm-12"l>><"row"<"col-md-6"r>><"row"<"col-sm-12"t>><"clearfix"><"col-md-6 col-sm-12"i><"col-md-6 col-sm-12 text-right"p>'
        });
        var loadermsg = ' <div class="row"><div class="col-md-12">Cargando Información... <i class="fa fa-spinner fa-spin"></i></div></div>';
    });
</script>
