@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Administración";
    decimal Cobrado = (decimal)ViewBag.Cobrado;
    decimal Reembolso = (decimal)ViewBag.Reembolso;
    decimal Prestado = (decimal)ViewBag.Prestado;
    decimal Acciones = (decimal)ViewBag.Acciones;
    decimal AccionesExistentes = (decimal)ViewBag.AccionesExistentes;
    List<InstaTransfer.DataAccess.AE_BalanceDiario> BalanceDiario = (List<InstaTransfer.DataAccess.AE_BalanceDiario>)ViewBag.BalanceDiario;
    List<InstaTransfer.DataAccess.AE_Dolar> Dolar = (List<InstaTransfer.DataAccess.AE_Dolar>)ViewBag.Dolar;
    List<InstaTransfer.DataAccess.AE_ValorAccion> ValorAccion = (List<InstaTransfer.DataAccess.AE_ValorAccion>)ViewBag.ValorAccion;
    List<InstaTransfer.DataAccess.AE_ValorAccionTR> ValorAccionTR = (List<InstaTransfer.DataAccess.AE_ValorAccionTR>)ViewBag.ValorAccionTR;
    List<InstaTransfer.DataAccess.AE_CambioDiario> CambioDiario = (List<InstaTransfer.DataAccess.AE_CambioDiario>)ViewBag.CambioDiario;
    List<InstaTransfer.DataAccess.AE_Avance> ListaAvanceHistorico = (List<InstaTransfer.DataAccess.AE_Avance>)ViewBag.ListaAvanceHistorico;
    decimal TasaReportar = 0;
    decimal TasaAlta = 0;
    if (CambioDiario != null && CambioDiario.Count > 0)
    {
        TasaAlta = CambioDiario.Sum(u => u.TasaUtilizada) / CambioDiario.Count();
        TasaReportar = TasaAlta * decimal.Parse("1,015");
    }


    List<Umbrella.Controllers.HomeController.CobroDiarioGeneral> CobroDiario = ViewBag.CobroDiarios;
    List<InstaTransfer.DataAccess.AE_EstadoCuenta> EstadoCuentaHistoria = (List<InstaTransfer.DataAccess.AE_EstadoCuenta>)ViewBag.MovimientosHistorico;
    InstaTransfer.BLL.Concrete.URepository<InstaTransfer.DataAccess.AE_CambioDiario> AE_CambioDiarioREPO = new InstaTransfer.BLL.Concrete.URepository<InstaTransfer.DataAccess.AE_CambioDiario>();
    InstaTransfer.BLL.Concrete.URepository<InstaTransfer.DataAccess.AE_EstadoCuenta> AE_EstadoCuenta = new InstaTransfer.BLL.Concrete.URepository<InstaTransfer.DataAccess.AE_EstadoCuenta>();
    int i = 1;
    int k = 1;
    decimal totalcobrodiario = 0;
    decimal totalgasto = 0;
    decimal acumuladotasa = 0;
    decimal totalganancia = 0;
    decimal valorbruto = 0;
    decimal totaltransito = 0;
    decimal totalefectivo = 0;
    decimal diferencia = 0;
}
@{Html.RenderPartial("~/Views/Shared/_PageTitle.cshtml", new Umbrella.Models.PageTitle { title = ViewBag.Title }); }
<style>
    input {
        font-size: 20px;
        padding: 0;
        border: 2px solid #ccc;
        border-left: 0;
        width: 100%;
        color: #666;
        border-radius: 0 7px 7px 0;
        /*font-family: 'PT Sans', sans-serif;
        font-weight: bold;*/
    }

    form input:focus {
        outline: 0;
    }

    form input.error {
        border-color: #ff0000;
    }

    form label.error {
        background-color: #ff0000;
        color: #fff;
        padding: 10px;
        font-size: 11px;
    }

    label {
        color: #999;
        display: block;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 0.05em;
    }

    .flex {
        display: flex;
        justify-content: flex-start;
    }

        .flex input {
            max-width: 300px;
            flex: 1 1 300px;
        }

        .flex .currency {
            font-size: 20px;
            padding: 0 10px 0 20px;
            color: #999;
            border: 2px solid #ccc;
            border-right: 0;
            line-height: 1.7;
            border-radius: 7px 0 0 7px;
            background: white;
        }
</style>
<div class="row">
    <div class="col-sm-12">


        <ul class="nav nav-tabs tabs">
            <li class="active tab">
                <a href="#balance" data-toggle="tab" aria-expanded="true" data-action="">
                    <span class="visible-xs"><i class="fa fa-database"></i></span>
                    <span class="hidden-xs">Balance Diario</span>
                </a>
            </li>
            <li class="tab">
                <a href="#tasa" idtable="avance-abono" data-toggle="tab" aria-expanded="false" data-action="">
                    <span class="visible-xs"><i class="fa fa-shopping-basket"></i></span>
                    <span class="hidden-xs">Cambio Diario</span>
                </a>
            </li>
            <li class="tab">
                <a href="#transito" idtable="avance-transito" data-toggle="tab" aria-expanded="false" data-action="">
                    <span class="visible-xs"><i class="fa fa-shopping-basket"></i></span>
                    <span class="hidden-xs">Transito</span>
                </a>
            </li>
            <li class="tab">
                <a href="#efectivo" idtable="avance-efectivo" data-toggle="tab" aria-expanded="false" data-action="">
                    <span class="visible-xs"><i class="fa fa-shopping-basket"></i></span>
                    <span class="hidden-xs">Efectivo</span>
                </a>
            </li>
            <li class="tab">
                <a href="#saldos" idtable="avance-abono" data-toggle="tab" aria-expanded="false" data-action="">
                    <span class="visible-xs"><i class="fa fa-shopping-basket"></i></span>
                    <span class="hidden-xs">Carga de Saldos Diarios</span>
                </a>

        </ul>
        <div class="tab-pane active fade in" id="balance">
            <div class="card-box table-responsive">
                <h4 class="header-title"><b>BALANCE DIARIO DEL FONDO</b></h4>
                <div class="col-lg-12">
                    @*<label>HISTORICO</label>
                        <hr />*@

                    <div class="clearfix"></div>
                    @*ojo con el width:100%*@
                    <table id="datatable-buttonsasd" class="dtinit table table-striped table-hover table-bordered dt-responsive text-nowrap" cellspacing="0" style="width:100%">
                        <thead>
                            <tr><td colspan="16"><strong>PAF</strong> = Pago Administrador Fondo / <strong>PU </strong>= Pago Utilidad / <strong> AC</strong> = Abono Capital / <strong> RC</strong> = Retiro Capital / <strong>PC</strong> = Prestamo Colocado / <strong>GE</strong> = Gasto Extraordinario / <strong>TD</strong> = Tasa Diferencia </td></tr>
                            <tr>
                                <th>Fecha</th>
                                <th>PAF</th>
                                <th>PU</th>
                                <th>RC</th>
                                <th>AC</th>
                                <th>PC</th>
                                <th>GE</th>


                                <th>Cobro</th>
                                <th>Cobro R.</th>
                                <th>Dif.</th>
                                <th>Dif. Acu</th>

                                <th>Gasto</th>
                                <th>TD</th>
                                <th>Abono Cap</th>

                                <th>Utilidad</th>

                                @*<th>Cuenta Vzla USD</th>*@
                                <th>Cuentas</th>

                                <th>Capital PC</th>
                                <th></th>
                                <th>Total</th>
                                <th>Variación</th>
                                <th>G/P</th>

                                <th>Acción</th>

                                @*<th>Acciones</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (InstaTransfer.DataAccess.AE_ValorAccionTR item in ValorAccionTR)
                            {
                                //decimal NuevoTotal = EstadoCuentaHistoria.Where(u => u.FechaOperacion.Day == item.FechaOperacion.Day && u.FechaOperacion.Month == item.FechaOperacion.Month && u.FechaOperacion.Year == item.FechaOperacion.Year).Sum(u => u.Monto);
                                decimal _diferencia = 0;
                                decimal NuevoTotal = 0;
                                decimal TD = item.TasaDiferencia == null ? 0 : item.TasaDiferencia.Value;
                                decimal variacion = item.NuevoCapital - item.CapitalInicial;
                                if (item.UtilidadReportada == 0)
                                {
                                    variacion = 0;
                                }
                                else
                                {
                                    variacion = variacion - item.UtilidadReportada;
                                    NuevoTotal = EstadoCuentaHistoria.Where(u => u.FechaOperacion.Day == item.FechaOperacion.Day && u.FechaOperacion.Month == item.FechaOperacion.Month && u.FechaOperacion.Year == item.FechaOperacion.Year).Sum(u => u.Monto);
                                }
                                NuevoTotal = NuevoTotal + TD;
                                diferencia = diferencia + (NuevoTotal - item.TotalCobroDiario);
                                _diferencia = NuevoTotal - item.TotalCobroDiario;


                                #region
                                decimal  cobrado = 0;
                                decimal reembolso = 0;
                                decimal prestado = 0;
                                foreach (var _elemento in ListaAvanceHistorico.Where(u => u.FechaInicioCobro != null &&  u.FechaInicioCobro.Value.Day <= item.FechaOperacion.Day && u.FechaInicioCobro.Value.Month <= item.FechaOperacion.Month && u.FechaInicioCobro.Value.Year <= item.FechaOperacion.Year))
                                {
                                    decimal porcentajeoperacion = (_elemento.Reembolso - _elemento.Avance) * 100 / _elemento.Avance;
                                    decimal _cobrado = EstadoCuentaHistoria.Where(u => u.IdAvance == _elemento.Id && !u.Abono && !u.SoloUtilidad &&  u.FechaOperacion.Day <= item.FechaOperacion.Day && u.FechaOperacion.Month <= item.FechaOperacion.Month && u.FechaOperacion.Year <= item.FechaOperacion.Year).Sum(u => u.Monto);
                                    reembolso = reembolso + (_elemento.Reembolso - _cobrado);
                                    if (_elemento.Modalidad)
                                    {
                                        _cobrado = EstadoCuentaHistoria.Where(u => u.IdAvance == _elemento.Id && !u.Abono && !u.SoloUtilidad &&  u.FechaOperacion.Day <= item.FechaOperacion.Day && u.FechaOperacion.Month <= item.FechaOperacion.Month && u.FechaOperacion.Year <= item.FechaOperacion.Year).Sum(u => u.Monto);

                                    }
                                    else
                                    {
                                        decimal t_cobrado = EstadoCuentaHistoria.Where(u => u.IdAvance == _elemento.Id && !u.Abono && !u.SoloUtilidad && u.FechaOperacion.Day <= item.FechaOperacion.Day && u.FechaOperacion.Month <= item.FechaOperacion.Month && u.FechaOperacion.Year <= item.FechaOperacion.Year).Sum(u => u.Monto);

                                        _cobrado = t_cobrado / (1 + (porcentajeoperacion / 100));
                                    }
                                    cobrado = cobrado + (_cobrado);

                                    if (_elemento.Modalidad)
                                    {
                                        prestado = prestado + (_elemento.Avance - _cobrado);
                                    }
                                    else
                                    {
                                        prestado = prestado + (_elemento.Avance - _cobrado);
                                    }
                                }
                                #endregion



                                <tr>
                                    <td>@item.FechaOperacion.ToShortDateString()</td>
                                    <td style="@(item.PagoUtilidadAdministrador < 0 ? "background-color:#f37272; color:black;" : "" )">@item.PagoUtilidadAdministrador.ToString("N2") $</td>
                                    <td style="@(item.PagoUtilidadMesInversionista < 0 ? "background-color:#f37272; color:black;" : "" )">@item.PagoUtilidadMesInversionista.ToString("N2") $</td>
                                    <td style="@(item.PagoCapitalInversionista < 0 ? "background-color:#f37272; color:black;" : "" )">@item.PagoCapitalInversionista.ToString("N2") $</td>
                                    <td style="@(item.CapitalNuevoIngreso > 0 ? "background-color:#5cc35c; color:black;" : "" )">@item.CapitalNuevoIngreso.ToString("N2") $</td>
                                    <td style="@(item.Prestamo > 0 ? "background-color:#90c4fe; color:black;" : "" )">@item.Prestamo.ToString("N2") $</td>
                                    <td style="@(item.GastoExtraordinario == null ? "" : item.GastoExtraordinario.Value < 0 ? "background-color:#f37272; color:black;" : "" )">@( item.GastoExtraordinario == null ? "0,00" :  item.GastoExtraordinario.Value.ToString("N2") ) $</td>

                                    <td>@item.TotalCobroDiario.ToString("N2") $</td>
                                    <td style="@( item.TotalCobroDiario != NuevoTotal ? "background-color:#cac546; color:black;" : "" )">@NuevoTotal.ToString("N2") $</td>
                                    <td style="@(_diferencia > 0 ? "background-color:#5cc35c; color:black;" : _diferencia == 0 ? "" : "background-color:#f37272; color:black;" )">@_diferencia.ToString("N2") $</td>
                                    <td style="">@diferencia.ToString("N2") $</td>
                                    <td>@item.GastoReportado.ToString("N2") $</td>
                                    <td style="@(item.TasaDiferencia == null ? "" : item.TasaDiferencia.Value < 0 ? "background-color:#f37272; color:black;" : "" )">@( item.TasaDiferencia == null ? "0,00" :  item.TasaDiferencia.Value.ToString("N2") ) $</td>
                                    <td>@item.AbonoCapital.ToString("N2") $</td>
                                    @*<td>@(item.TotalCobroDiario + item.GastoReportado)</td>*@
                                    <td>@item.UtilidadReportada.ToString("N2") $</td>
                                    @*<td>@(item.UsdVenezuela != null ? item.UsdVenezuela.Value.ToString("N2") : "0,00" )</td>*@
                                    <td><strong>@item.SaldoUSD.ToString("N2") $</strong> </td>

                                    <td><strong>@item.CapitalPorCobrar.ToString("N2") $</strong> </td>
                                    <td>@prestado.ToString("N2") $</td>
                                    <td><strong>@item.NuevoCapital.ToString("N2") $</strong></td>
                                    <td> @((item.NuevoCapital - item.CapitalInicial).ToString() ) $</td>
                                    <td style="@(variacion < -1 ? "background-color:#f37272; color:black;" : variacion > 1 ? "background-color:#5cc35c; color:black;" : "background-color:white;color:black;" )"> @variacion.ToString("N2") $</td>

                                    <td>@item.ValorAccion.ToString("N2") $</td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>



            </div>
        </div>
        <div class="tab-pane active fade in" id="tasa">
            <div class="card-box table-responsive">
                <div class="col-lg-5">
                    <div class="col-lg-12">
                        <label>HISTORICO TASA DOLAR</label>
                        <hr />
                    </div>
                    <div class="col-lg-12">
                        <div class="clearfix"></div>
                        <table id="datatable-buttonsasd" class="dtinit table table-striped table-hover table-bordered dt-responsive text-nowrap" cellspacing="0" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Tasa Cobro</th>
                                    <th>Tasa Reportada</th>
                                    <th>Detalle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (InstaTransfer.DataAccess.AE_Dolar item in Dolar)
                                {
                                    <tr dtaction="@Url.Action("Details", "Avance", new { id = item.Id })">
                                        <td>@item.FechaValor.ToShortDateString()</td>
                                        @*<td>@item.FechaValor.ToShortDateString()</td>*@
                                        <td>@item.Tasa.ToString("N2") </td>
                                        <td>@(item.TasaUtilizada == null ? "0" : item.TasaUtilizada.Value.ToString("N2") ) </td>
                                        <td>

                                            <input type="button" class="btn btn-default " data-toggle="modal" data-target="#@k" value="Detalle" />
                                            <div id="@k" class="modal fade" role="dialog">
                                                <div class="modal-dialog modal-lg" style="min-width:1000px;">

                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Detalle</h4>
                                                        </div>

                                                        <div class="modal-body">
                                                            <table class="table table-hover">
                                                                <thead>
                                                                    <tr>

                                                                        <th>Fecha</th>
                                                                        <th>Monto Bs</th>
                                                                        <th>Tasa</th>
                                                                        <th>Monto $</th>
                                                                        <th>Descripción</th>
                                                                        <th>Estatus Actual</th>
                                                                        <th>Acción</th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                    @foreach (var _item in AE_CambioDiarioREPO.GetAllRecords().Where(u => u.FechaRegistro.Day == item.Date.Day && u.FechaRegistro.Month == item.Date.Month && u.FechaRegistro.Year == item.Date.Year).ToList())
                                                                    {
                                                                        <tr>
                                                                            <td>@_item.FechaRegistro.ToShortDateString()</td>
                                                                            <td>@_item.MontoBs</td>
                                                                            <td>@_item.TasaUtilizada</td>
                                                                            <td>@((_item.MontoBs / _item.TasaUtilizada).ToString("N2"))</td>
                                                                            <td>@_item.Descripcion</td>
                                                                            <td style="@(_item.IdEstatus.Value == 1 ? "color:green;" : "color:red;")">@(_item.IdEstatus.Value == 1 ? "Entregado" : "Transito"  )</td>
                                                                            <td>
                                                                                @if (_item.IdEstatus.Value == 1)
                                                                                {
                                                                                    <input type="button" class="btn btn-block actualizarestatus" data-valor="@_item.Id" data-estado="2" value="Transito" />
                                                                                }
                                                                                else
                                                                                {
                                                                                    <input type="button" class="btn btn-group actualizarestatus" data-valor="@_item.Id" data-estado="1" value="Entregado" />
                                                                                }
                                                                            </td>

                                                                        </tr>
                                                                    }

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="modal-footer">

                                                        </div>

                                                    </div>

                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                    k++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6 col-lg-offset-1">
                    <form role="form" id="cambioform">

                        @Html.AntiForgeryToken()

                        <div class="col-lg-12">
                            <label>CAMBIOS REALIZADOS PARA EL @DateTime.Now.ToString("dd") de @DateTime.Now.ToString("MMMM") de @DateTime.Now.ToString("yyyy") </label>
                            <hr />
                        </div>

                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="rif">Monto Bs</label>
                                <input type="text" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" required value="" data-type="currency" class="form-control">
                                <input type="hidden" name="cambiobs" id="_cambio" />
                                <input type="hidden" value="@DateTime.Now" name="cambiofecha" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="rif">Tasa</label>
                                <input type="text" id="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" required value="" data-type="currency" class="form-control">
                                <input type="hidden" value="" required id="cambiotasa" name="cambiotasa" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="rif">Descripción</label>
                                <input type="text" value="" required id="cambiodescripcion" name="cambiodescripcion" class="form-control">
                            </div>
                        </div>


                        <div class="col-xs-12 text-center">
                            <button id="guardarcambio" class="btn btn-primary waves-effect waves-light w-md" type="button">
                                Guardar
                                <i class="md md-save"></i>
                            </button>
                        </div>
                    </form>
                    <div class="col-lg-12">
                        <label>REGISTROS</label>
                        <hr />

                        <div class="clearfix"></div>

                        <table id="datatable-buttonsasd" class="dtinit table table-striped table-hover table-bordered dt-responsive text-nowrap" cellspacing="0" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Monto Bs </th>
                                    <th>Tasa </th>
                                    <th>Monto Usd </th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (InstaTransfer.DataAccess.AE_CambioDiario item in CambioDiario)
                                {
                                    <tr>
                                        <td>@item.MontoBs.ToString("N2") Bs</td>
                                        <td>@item.TasaUtilizada.ToString("N2") Bs </td>
                                        <td>@( (item.MontoBs / item.TasaUtilizada).ToString("N2") ) $ </td>
                                        <td>@item.FechaRegistro.ToShortDateString()</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane active fade in" id="transito">
            <div class="card-box table-responsive">
                <div class="col-lg-12">
                    @foreach (var _item in AE_CambioDiarioREPO.GetAllRecords().Where(u => u.IdEstatus == 2).ToList())
                    {
                        totaltransito = totaltransito + (_item.MontoBs / _item.TasaUtilizada);
                    }
                    <div class="col-lg-12">
                        <label>OPERACIONES EN TRANSITO - @totaltransito.ToString("N2") $</label>
                        <hr />
                    </div>
                    <div class="col-lg-12">
                        <div class="clearfix"></div>
                        <table id="datatable-buttonsasd" class="dtinit table table-striped table-hover table-bordered dt-responsive text-nowrap" cellspacing="0" style="width:100%">

                            <thead>
                                <tr>

                                    <th>Fecha</th>
                                    <th>Monto Bs</th>
                                    <th>Tasa</th>
                                    <th>Monto $</th>
                                    <th>Descripción</th>
                                    <th>Estatus Actual</th>
                                    <th>Acción</th>

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var _item in AE_CambioDiarioREPO.GetAllRecords().Where(u => u.IdEstatus == 2).ToList())
                                {
                                    totaltransito = totaltransito + (_item.MontoBs / _item.TasaUtilizada);
                                    <tr>
                                        <td>@_item.FechaRegistro.ToShortDateString()</td>
                                        <td>@_item.MontoBs</td>
                                        <td>@_item.TasaUtilizada</td>
                                        <td>@((_item.MontoBs / _item.TasaUtilizada).ToString("N2"))</td>
                                        <td>@_item.Descripcion</td>
                                        <td style="@(_item.IdEstatus.Value == 1 ? "color:green;" : "color:red;")">@(_item.IdEstatus.Value == 1 ? "Entregado" : "Transito"  )</td>
                                        <td>
                                            @if (_item.IdEstatus.Value == 1)
                                            {
                                                <input type="button" class="btn btn-block actualizarestatus" data-valor="@_item.Id" data-estado="2" value="Transito" />
                                            }
                                            else
                                            {
                                                <input type="button" class="btn btn-group actualizarestatus" data-valor="@_item.Id" data-estado="1" value="Entregado" />
                                            }
                                        </td>

                                    </tr>
                                }

                            </tbody>


                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="tab-pane active fade in" id="efectivo">
            <div class="card-box table-responsive">
                <div class="col-lg-12">
                    @foreach (var _item in AE_EstadoCuenta.GetAllRecords().Where(u => u.Efectivo && !u.EfectivoCambiado).ToList())
                    {
                        totalefectivo = totalefectivo + (_item.Monto);
                    }
                    <div class="col-lg-12">
                        <label>OPERACIONES EN EFECTIVO  - @totalefectivo.ToString("N2") $</label>
                        <hr />
                    </div>
                    <div class="col-lg-12">
                        <div class="clearfix"></div>
                        <table id="datatable-buttonsasd" class="dtinit table table-striped table-hover table-bordered dt-responsive text-nowrap" cellspacing="0" style="width:100%">

                            <thead>
                                <tr>

                                    <th>Fecha</th>
                                    <th>Monto</th>
                                    <th>Descripción</th>
                                    <th>Estatus Actual</th>
                                    <th>Acción</th>

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var _item in AE_EstadoCuenta.GetAllRecords().Where(u => u.Efectivo && !u.EfectivoCambiado).ToList())
                                {
                                    totalefectivo = totalefectivo + (_item.Monto);
                                    <tr>
                                        <td>@_item.FechaRegistro.ToShortDateString()</td>
                                        <td>@_item.Monto</td>


                                        <td>@_item.Descripcion</td>
                                        <td style="@(_item.EfectivoCambiado ? "color:green;" : "color:red;")">@(_item.EfectivoCambiado ? "Colocado" : "Efectivo"  )</td>
                                        <td>
                                            @if (_item.EfectivoCambiado)
                                            {
                                                <input type="button" class="btn btn-block actualizarestatusefectivo" data-valor="@_item.Id" data-estado="false" value="Efectivo" />
                                            }
                                            else
                                            {
                                                <input type="button" class="btn btn-group actualizarestatusefectivo" data-valor="@_item.Id" data-estado="true" value="Liberar" />
                                            }
                                        </td>

                                    </tr>
                                }

                            </tbody>


                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="tab-pane active fade in" id="saldos">
            <div class="card-box table-responsive">
                <h4 class="header-title"><b>BALANCE DIARIO DEL FONDO</b></h4>
                <div class="clearfix"></div>
                <div class="col-lg-12" style="margin-top:3%;">

                    <div class="col-lg-10">

                        <h4 class="header-title">
                            COBROS DEL DIA RECIBIDOS EN BOLIVARES
                        </h4>
                        <hr />
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Fecha</th>
                                            <th>ID-Avance</th>
                                            <th>Comercio</th>
                                            <th>Monto Bs</th>
                                            <th>Tasa Cobrado</th>
                                            <th>Tasa a Reportar</th>
                                            <th>Monto $</th>
                                            <th>Monto R $</th>


                                            <th>Gasto Banco</th>
                                            <th>Gasto Tasa</th>
                                            <th>Total $</th>
                                            <th>Utilidad $</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var _item in CobroDiario.First().Lista.Where(u => u.Monto > 0 && !u.RecibidoEnDolares))
                                        {
                                            decimal montonuevo = 0;
                                            if (TasaReportar == 0)
                                            {
                                                montonuevo = 0;
                                            }
                                            else
                                            {
                                                montonuevo = (_item.MontoBs.Value / TasaReportar);
                                            }

                                            decimal diferenciatasa = _item.Monto - montonuevo;
                                            decimal total = 0;
                                            decimal gasto = 0;
                                            decimal ganacia = 0;
                                            decimal porcen = (_item.AE_Avance.Reembolso - _item.AE_Avance.Avance) * 100 / _item.AE_Avance.Avance;
                                            gasto = _item.AE_Avance.GastoBanco == 0 ? 0 : _item.AE_Avance.GastoBanco;
                                            decimal MontoConGasto = _item.AE_Avance.GastoBanco == 0 ? _item.Monto : (_item.Monto - (_item.Monto * _item.AE_Avance.GastoBanco / 100));
                                            //MontoConGasto = MontoConGasto - diferenciatasa;
                                            <tr>
                                                <td>@_item.FechaOperacion.ToShortDateString()</td>
                                                <td>@_item.IdAvance (@porcen.ToString("N") %)</td>
                                                <td>@_item.AE_Avance.Commerce.BusinessName</td>
                                                <td>@_item.MontoBs.Value.ToString("N") Bs</td>
                                                <td>@_item.Tasa.Value.ToString("N") Bs</td>
                                                <td>@TasaReportar.ToString("N") Bs</td>
                                                <td>@_item.Monto $</td>
                                                <td>@montonuevo.ToString("N") $</td>
                                                <td>@(_item.AE_Avance.GastoBanco == 0 ? "0,00" : (_item.Monto * _item.AE_Avance.GastoBanco / 100).ToString("N") ) $ (@_item.AE_Avance.GastoBanco %)</td>
                                                <td>@diferenciatasa.ToString("N")</td>
                                                <td>@( _item.AE_Avance.GastoBanco == 0 ? (_item.Monto - diferenciatasa).ToString("N") : (_item.Monto - (_item.Monto * _item.AE_Avance.GastoBanco / 100) - diferenciatasa).ToString("N")) $</td>

                                                @if (_item.AE_Avance.Modalidad && _item.SoloUtilidad)
                                                {
                                                    <td>@((MontoConGasto - diferenciatasa).ToString("N") ) $</td>
                                                }
                                                else if (_item.AE_Avance.Modalidad && !_item.SoloUtilidad)
                                                {
                                                    <td>@("0,00" ) $</td>
                                                }
                                                else
                                                {
                                            <td>@(((MontoConGasto - diferenciatasa) -  ((MontoConGasto - diferenciatasa) / ((porcen / 100) + 1))).ToString("N") ) $</td>
                                                }


                                            </tr>
                                            total = _item.AE_Avance.GastoBanco == 0 ? _item.Monto - diferenciatasa : (_item.Monto - (_item.Monto * _item.AE_Avance.GastoBanco / 100) - diferenciatasa);
                                            totalcobrodiario = totalcobrodiario + total;
                                            totalgasto = totalgasto + (_item.Monto - MontoConGasto);
                                            acumuladotasa = acumuladotasa + diferenciatasa;
                                            valorbruto = valorbruto + _item.Monto;
                                            if (_item.AE_Avance.Modalidad && _item.SoloUtilidad)
                                            {
                                                totalganancia = totalganancia + (MontoConGasto - diferenciatasa);
                                            }
                                            else if (_item.AE_Avance.Modalidad && !_item.SoloUtilidad)
                                            {
                                                totalganancia = totalganancia + (0);
                                            }
                                            else
                                            {

                                                totalganancia = (totalganancia + ((MontoConGasto - diferenciatasa) - ((MontoConGasto - diferenciatasa) / ((porcen / 100)+1))));
                                            }

                                        }

                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-lg-12">
                            <h4 class="header-title">
                                COBROS DEL DIA RECIBIDOS EN DOLARES
                            </h4>
                            <hr />
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Fecha</th>
                                            <th>ID-Avance</th>
                                            <th>Comercio</th>
                                            @*<th>Monto Bs</th>
                                                <th>Tasa</th>*@
                                            <th>Monto $</th>
                                            <th>Gasto Banco</th>
                                            <th>Total $</th>
                                            <th>Utilidad $</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var _item in CobroDiario.First().Lista.Where(u => u.Monto > 0 && u.RecibidoEnDolares))
                                        {

                                            decimal total = 0;
                                            decimal gasto = 0;
                                            decimal ganacia = 0;
                                            decimal porcen = (_item.AE_Avance.Reembolso - _item.AE_Avance.Avance) * 100 / _item.AE_Avance.Avance;
                                            gasto = _item.AE_Avance.GastoBanco == 0 ? 0 : _item.AE_Avance.GastoBanco;
                                            decimal MontoConGasto = _item.AE_Avance.GastoBanco == 0 ? _item.Monto : (_item.Monto - (_item.Monto * _item.AE_Avance.GastoBanco / 100));
                                            <tr>
                                                <td>@_item.FechaOperacion.ToShortDateString()</td>
                                                <td>@_item.IdAvance (@porcen.ToString("N") %)</td>
                                                <td>@_item.AE_Avance.Commerce.BusinessName</td>
                                                @*<td>@_item.MontoBs.Value.ToString("N") Bs</td>
                                                    <td>@_item.Tasa.Value.ToString("N") Bs</td>*@
                                                <td>@_item.Monto $</td>
                                                <td>@(_item.AE_Avance.GastoBanco == 0 ? "0,00" : (_item.Monto * _item.AE_Avance.GastoBanco / 100).ToString("N") ) $ (@_item.AE_Avance.GastoBanco %)</td>
                                                <td>@( _item.AE_Avance.GastoBanco == 0 ? _item.Monto.ToString("N") : (_item.Monto - (_item.Monto * _item.AE_Avance.GastoBanco / 100)).ToString("N")) $</td>
                                                @if (_item.AE_Avance.Modalidad && _item.SoloUtilidad)
                                                {
                                                    <td>@((MontoConGasto).ToString("N") ) $</td>
                                                }
                                                else if (_item.AE_Avance.Modalidad && !_item.SoloUtilidad)
                                                {
                                                    <td>@("0,00" ) $</td>
                                                }
                                                else
                                                {
                                                    <td>@( (MontoConGasto - (MontoConGasto  / ((porcen / 100) + 1))).ToString("N") ) $</td>
                                                }


                                            </tr>
                                            total = _item.AE_Avance.GastoBanco == 0 ? _item.Monto : (_item.Monto - (_item.Monto * _item.AE_Avance.GastoBanco / 100));
                                            totalcobrodiario = totalcobrodiario + total;
                                            totalgasto = totalgasto + (_item.Monto - MontoConGasto);
                                            valorbruto = valorbruto + _item.Monto;
                                            if (_item.AE_Avance.Modalidad && _item.SoloUtilidad)
                                            {
                                                totalganancia = totalganancia + MontoConGasto;
                                            }
                                            else if (_item.AE_Avance.Modalidad && !_item.SoloUtilidad)
                                            {
                                                totalganancia = totalganancia + (0);
                                            }
                                            else
                                            {

                                                totalganancia = totalganancia + (MontoConGasto - ((MontoConGasto) / ((porcen / 100) + 1)));
                                            }

                                        }

                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-2 ">
                        <span for="rif">Cobro Bruto Diario $</span>
                        <div class="form-group flex">
                            <span class="currency">$</span>
                            <input type="text" value="@valorbruto.ToString("F").Replace(',','.')" id="totalcobrodiariobruto" name="totalcobrodiariobruto" class="activo">
                        </div>
                        <span for="rif">Gastos $</span>
                        <div class="form-group flex">
                            <span class="currency">$</span>
                            <input type="text" value="@totalgasto.ToString("F").Replace(',','.')" id="_totalgastos" name="_totalgastos" class="">
                        </div>
                        <span for="rif">Dif. Tasa $</span>
                        <div class="form-group flex">
                            <span class="currency">$</span>
                            <input type="text" value="@acumuladotasa.ToString("F").Replace(',','.')" id="_totalgastos" name="_totaldiftasa" class="">
                        </div>
                        <span for="rif">Total Neto Diario $</span>
                        <div class="form-group flex">
                            <span class="currency">$</span>
                            <input type="text" value="@totalcobrodiario.ToString("F").Replace(',','.')" id="totalcobrodiario" name="totalcobrodiario" class="activo">
                        </div>
                        <span for="rif">Ganancia a Reportar $</span>
                        <div class="form-group flex">
                            <span class="currency">$</span>
                            <input type="text" value="@totalganancia.ToString("F").Replace(',','.')" id="totalgananciadiaria" name="totalgananciadiaria" class="activo">
                        </div>



                        @if (CobroDiario.Count > 0)
                        {
                            <button id="actualizartasa" class="btn btn-primary waves-effect waves-light w-md" type="button">
                                Actualizar Tasa a :  @Dolar.FirstOrDefault().Tasa.ToString("N2")
                                <i style="margin-left:15px;" class="md md-check"></i>
                            </button>
                            @*<br />
                                <span>Tasa Alta Registrada <strong style="color:red;"> @TasaReportar.ToString("N2")</strong></span>*@
                            @*<br />
                                <span>Tasa a Reportar <strong style="color:red;"> @TasaReportar.ToString("N")</strong></span>*@
                        }

                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12" style="margin-top:3%;">
                    <form role="form" id="configform">



                        @Html.AntiForgeryToken()
                        <input type="hidden" value="@valorbruto.ToString("F").Replace(',','.')" id="totalcobrodiariobruto" name="totalcobrodiariobruto">
                        <input type="hidden" value="@totalcobrodiario.ToString("F").Replace(',','.')" id="totalcobrodiario" name="totalcobrodiario" />
                        <input type="hidden" value="@totalganancia.ToString("F").Replace(',','.')" id="totalgananciadiaria" name="totalgananciadiaria" />

                        <input type="hidden" value="0" id="totalbancosBS" name="totalbancosBS" class="activo">
                        <input type="hidden" value="0" id="montodolaresBS" name="montodolaresBS" readonly class="activo">
                        <input type="hidden" value="@((ValorAccionTR.First().SaldoUSD + totalcobrodiario).ToString("F0"))" id="totaldolares" name="totaldolares" class="activo">
                        <input type="hidden" readonly value="@( ((Reembolso - Cobrado).ToString("F0")))" id="pendienteporcobrar" name="pendienteporcobrar" class=" activo">
                        <input type="hidden" id="dolarestransito" value="0" name="dolarestransito" class="activo">
                        <input type="hidden" style="border-color:#03025f !important;" value="0" id="totalactivos" name="totalactivos" class="activo">
                        <input type="hidden" id="dolarestransito" value="0" name="dolarestransito" class="activo">
                        <input type="hidden" value="@totalgasto.ToString("N").Replace(',','.')" id="totalgastos" name="totalgastos" class="">
                        <input type="hidden" value="0" id="totalbancospBS" name="totalbancospBS" class="">
                        <input type="hidden" value="0" readonly id="montodolarespBS" name="montodolarespBS" class="activo">
                        <input type="hidden" value="0" id="totaldolaresp" name="totaldolaresp" class="activo">
                        <input type="hidden" style="border-color:red;" value="0" id="totalpasivos" name="totalpasivos" class="">
                        <input type="hidden" value="@AccionesExistentes.ToString("F0")" readonly id="cantidadaccion" name="cantidadaccion" class="activo">
                        <input type="hidden" value="@Acciones.ToString("N").Replace(',','.')" readonly id="valoraccion" name="valoraccion" class="activo">
                        <input type="hidden" value="0" readonly id="nuevovalor" name="nuevovalor" class="activo">
                        <input type="hidden" style="border-color:green;" value="" id="totalcapital" name="totalcapital" class="">
                        <input type="hidden" value="@Dolar.FirstOrDefault().Tasa.ToString("F0")" id="tasadolares" name="tasadolares" class="activo">
                        <input type="hidden" value="@TasaReportar.ToString("F2").Replace(',','.')" name="TasaUtilizada" />
                        <input type="hidden" value="@acumuladotasa.ToString("F0").Replace(',','.')" name="AcumuladoTasa" />
                        @*<div class="col-lg-12">
                                <h4 class="header-title">
                                    ACTIVOS
                                </h4> <span style="font-size:13px">(Los montos en bolivares se convertiran utilizando la siguiente tasa @Dolar.FirstOrDefault().Tasa.ToString("N"))</span>

                                <hr />
                            </div>*@

                        @*<div class="col-sm-2  col-xs-12">
                                <label for="rif">Total Bancos Bs</label>
                                <div class="form-group flex">
                                    <span class="currency">Bs</span>
                                    <input type="hidden" value="0" id="totalbancosBS" name="totalbancosBS" class="activo">
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-12">
                                <label for="rif">conversion a usd </label>
                                <div class="form-group flex">
                                    <span class="currency">$</span>
                                    <input type="hidden" value="0" id="montodolaresBS" name="montodolaresBS" readonly class="activo">
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-12">
                                <label for="rif">Total bancos usd</label>
                                <div class="form-group flex">
                                    <span class="currency">$</span>
                                    <input type="hidden" value="@((ValorAccionTR.First().SaldoUSD + totalcobrodiario).ToString("F0"))" id="totaldolares" name="totaldolares" class="activo">
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-12">
                                <label for="rif"> Por Cobrar <span style="font-size:12px;"></span></label>
                                <div class="form-group flex">
                                    <span class="currency">$</span>
                                    <input type="hidden" readonly value="@( ((Reembolso - Cobrado).ToString("F0")))" id="pendienteporcobrar" name="pendienteporcobrar" class=" activo">
                                </div>
                            </div>*@

                        @*<div class="col-sm-2 col-lg-offset-1  col-xs-12">
                                <label for="rif">TOTAL ACTIVOS</label>
                                <div class="form-group flex">

                                    <span class="currency" style="border-color:#03025f !important;">$</span>

                                    <input type="hidden" style="border-color:#03025f !important;" value="0" id="totalactivos" name="totalactivos" class="activo">
                                </div>
                            </div>
                            <div class="col-sm-2  col-xs-12">
                                <label for="rif">$ En transito</label>
                                <div class="form-group flex">
                                    <span class="currency">$</span>
                                    <input type="hidden" id="dolarestransito" value="0" name="dolarestransito" class="activo">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12" style="margin-top:2%">

                                <hr />
                            </div>*@

                        @*<div class="col-sm-2 col-xs-12">
                                <label for="rif">Gastos $</label>
                                <div class="form-group flex">
                                    <span class="currency">$</span>
                                    <input type="hidden" value="@totalgasto.ToString("N").Replace(',','.')" id="totalgastos" name="totalgastos" class="">
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="col-lg-12" style="margin-top:2%">
                                <h4 class="header-title">PASIVOS</h4><span style="font-size:13px">(Los montos en bolivares se convertiran utilizando la siguiente tasa @Dolar.FirstOrDefault().Tasa.ToString("N"))</span>
                                <hr />
                            </div>

                            <div class="col-sm-2 col-xs-12">
                                <label for="rif">Deudas Bs</label>
                                <div class="form-group flex">
                                    <span class="currency">Bs</span>
                                    <input type="hidden" value="0" id="totalbancospBS" name="totalbancospBS" class="">
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-12">
                                <label for="rif"> conversion a usd</label>
                                <div class="form-group flex">
                                    <span class="currency">$</span>
                                    <input type="hidden" value="0" readonly id="montodolarespBS" name="montodolarespBS" class="activo">
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-12">
                                <label for="rif">Deuda usd</label>
                                <div class="form-group flex">
                                    <span class="currency">$</span>
                                    <input type="hidden" value="0" id="totaldolaresp" name="totaldolaresp" class="activo">
                                </div>
                            </div>
                            <div class="col-sm-2 col-lg-offset-3  col-xs-12">
                                <label for="rif">TOTAL PASIVOS</label>
                                <div class="form-group flex">

                                    <span class="currency" style="border-color:red;">$</span>
                                    <input type="hidden" style="border-color:red;" value="0" id="totalpasivos" name="totalpasivos" class="">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12" style="margin-top:2%">
                                <h4 class="header-title">CAPITAL</h4>
                                <hr />
                            </div>*@

                        @*<div class="col-sm-2 col-xs-12">
                                <label for="rif"> Acciones existentes</label>
                                <div class="form-group flex">
                                    <span class="currency">#</span>
                                    <input type="hidden" value="@AccionesExistentes.ToString("F0")" readonly id="cantidadaccion" name="cantidadaccion" class="activo">
                                </div>
                            </div>

                            <div class="col-sm-2 col-xs-12">
                                <label for="rif">Valor</label>
                                <div class="form-group flex">
                                    <span class="currency">$</span>
                                    <input type="hidden" value="@Acciones.ToString("N").Replace(',','.')" readonly id="valoraccion" name="valoraccion" class="activo">
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-12">
                                <label for="rif">Nuevo Valor</label>
                                <div class="form-group flex">
                                    <span class="currency">$</span>
                                    <input type="hidden" value="0" readonly id="nuevovalor" name="nuevovalor" class="activo">
                                </div>
                            </div>
                            <div class="col-sm-2 col-lg-offset-3  col-xs-12">
                                <label for="rif">TOTAL CAPITAL </label>
                                <div class="form-group flex">

                                    <span class="currency" style="border-color:green;">$</span>
                                    <input type="hidden" style="border-color:green;" value="" id="totalcapital" name="totalcapital" class="">
                                </div>
                            </div>*@

                        <div class="col-xs-12 text-center" style="display:block;">

                            <div class="form-group flex" style="margin-left:45%;">
                                <span class="currency">?</span>
                                <input type="password" name="pass" style="max-width:120px !important;" class="col-lg-1">
                            </div>
                            <div class="clearfix"></div>
                            <button id="guardar" class="btn btn-primary waves-effect waves-light w-md" type="button">
                                Guardar
                                <i class="md md-save"></i>
                            </button>
                        </div>
                    </form>
                </div>
                @*<div class="col-lg-12">
                        <label>HISTORICO</label>
                        <hr />

                        <div class="clearfix"></div>

                        <table id="datatable-buttonsasd" class="dtinit table table-striped table-hover table-bordered dt-responsive text-nowrap" cellspacing="0" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>PAF</th>
                                    <th>PU</th>
                                    <th>AC</th>
                                    <th>PC</th>
                                    <th>Cobro</th>
                                    <th>Cobro Revision</th>

                                    <th>Gasto</th>
                                    <th>Abono Cap</th>
                                    <th>Utilidad</th>

                                    <th>Cuentas</th>

                                    <th>Capital PC</th>
                                    <th>Total</th>
                                    <th>Variación</th>
                                    <th>G/P</th>
                                    <th>Acción</th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (InstaTransfer.DataAccess.AE_ValorAccionTR item in ValorAccionTR)
                                {

                                    decimal NuevoTotal = EstadoCuentaHistoria.Where(u => u.FechaOperacion.Day == item.FechaOperacion.Day && u.FechaOperacion.Month == item.FechaOperacion.Month && u.FechaOperacion.Year == item.FechaOperacion.Year).Sum(u => u.Monto);
                                    decimal variacion = item.NuevoCapital - item.CapitalInicial;
                                    if (item.UtilidadReportada == 0)
                                    {
                                        variacion = 0;
                                    }
                                    else
                                    {
                                        variacion = variacion - item.UtilidadReportada;
                                    }
                                <tr>
                                    <td>@item.FechaOperacion.ToShortDateString()</td>
                                    <td style="@(item.PagoUtilidadAdministrador < 0 ?"background-color:#f37272; color:black;":"" )">@item.PagoUtilidadAdministrador.ToString("N2") $</td>
                                    <td style="@(item.PagoUtilidadMesInversionista < 0 ?"background-color:#f37272; color:black;":"" )">@item.PagoUtilidadMesInversionista.ToString("N2") $</td>
                                    <td style="@(item.CapitalNuevoIngreso > 0 ?"background-color:#5cc35c; color:black;":"" )">@item.CapitalNuevoIngreso.ToString("N2") $</td>
                                    <td style="@(item.Prestamo > 0 ?"background-color:#90c4fe; color:black;":"" )">@item.Prestamo.ToString("N2") $</td>
                                    <td>@item.TotalCobroDiario.ToString("N2") $</td>
                                    <td style="@( (item.TotalCobroDiario - NuevoTotal) > 0 ?"background-color:#90c4fe; color:black;":"" )">@NuevoTotal.ToString("N2") $</td>
                                    <td>@item.GastoReportado.ToString("N2") $</td>
                                    <td>@item.AbonoCapital.ToString("N2") $</td>

                                    <td>@item.UtilidadReportada.ToString("N2") $</td>

                                    <td><strong>@item.SaldoUSD.ToString("N2") $</strong> </td>

                                    <td><strong>@item.CapitalPorCobrar.ToString("N2") $</strong> </td>
                                    <td><strong>@item.NuevoCapital.ToString("N2") $</strong></td>

                                    <td> @((item.NuevoCapital - item.CapitalInicial).ToString() ) $</td>
                                    <td style="@(variacion < -1 ? "background-color:#f37272; color:black;": variacion > 1 ? "background-color:#5cc35c; color:black;" : "background-color:white;color:black;" )"> @variacion.ToString("N2") $</td>
                                    <td>@item.ValorAccion.ToString("N2") $</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>*@



            </div>
        </div>

        @*<div class="tab-pane active fade in" id="tasa">
                <div class="card-box table-responsive">
                    <h4 class="header-title"><b>TASA DOLAR</b></h4>


                    <div class="clearfix"></div>
                    <div class="col-lg-12" style="margin-top:3%;">
                        <form role="form" id="dolarform">

                            @Html.AntiForgeryToken()

                            <div class="col-lg-12">
                                <label>Valor para el día @DateTime.Now.ToString("dd") de @DateTime.Now.ToString("MMMM") de @DateTime.Now.ToString("yyyy") </label>
                                <hr />
                            </div>

                            <div class="col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label for="rif">Tasa</label>
                                    <input type="text" value="" id="tasa" name="tasa" class="form-control">
                                    <input type="hidden" value="@DateTime.Now" name="Fecha" />
                                </div>
                            </div>



                            <div class="col-xs-12 text-center">
                                <button id="guardardolar" class="btn btn-primary waves-effect waves-light w-md" type="button">
                                    Guardar
                                    <i class="md md-save"></i>
                                </button>
                            </div>
                        </form>


                        <div class="col-lg-12">
                            <label>HISTORICO</label>
                            <hr />

                            <div class="clearfix"></div>

                            <table id="datatable-buttonsasd" class="dtinit table table-striped table-hover table-bordered dt-responsive text-nowrap" cellspacing="0" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Monto</th>
                                        <th>% Depreciación Bs</th>
                                        <th>Fecha</th>



                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (InstaTransfer.DataAccess.AE_Dolar item in Dolar)
                                    {
                                    <tr dtaction="@Url.Action("Details", "Avance", new { id = item.Id })">
                                        <td>@item.Tasa </td>
                                        <td>@item.PromedioAcumulado </td>
                                        <td>@item.FechaValor.ToShortDateString()</td>



                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
            <div class="tab-pane active fade in" id="Accion">
                <div class="card-box table-responsive">
                    <h4 class="header-title"><b>HISTORICO VALOR ACCIONES</b></h4>


                    <div class="clearfix"></div>
                    <div class="col-lg-12" style="margin-top:3%;">



                        <div class="col-lg-12">
                            <label>HISTORICO</label>
                            <hr />

                            <div class="clearfix"></div>

                            <table id="datatable-buttonsasd" class="dtinit table table-striped table-hover table-bordered dt-responsive text-nowrap" cellspacing="0" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Monto</th>
                                        <th>Fecha</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (InstaTransfer.DataAccess.AE_ValorAccion item in ValorAccion)
                                    {
                                    <tr dtaction="@Url.Action("Details", "Avance", new { id = item.Id })">
                                        <td>@item.ValorAccion </td>
                                        <td>@item.FechaOperacion.ToShortDateString()</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>*@

    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function myfunction() {
            Totalizar();
            TotalizarAcciones();
            TotalizarP();
            TotalizarC();

            $(".actualizarestatus").on("click", function () {
                Pace.start();
                var id = $(this).data("valor");
                var estatus = $(this).data("estado");
                //alert(id);
                //alert(estatus);
                var datos = { id: id, estatus: estatus };
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("_ActualizarEstatus", "Home")",
                    data: datos,
                })
                .done(function (r) {

                    if (r.success) {

                        toastr.success("Valores guardados con exito!", 'Éxito!');
                        window.setTimeout(location.reload(), 4000);
                    } else {
                        // $.Notification.notify('error', 'top right', 'Error!', r.message)
                        toastr.error(r.message, 'Error!');
                    }
                });
                Pace.stop();
            });

            $(".actualizarestatusefectivo").on("click", function () {
                Pace.start();
                var id = $(this).data("valor");
                var estatus = $(this).data("estado");
                //alert(id);
                //alert(estatus);
                var datos = { id: id, estatus: estatus };
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("_ActualizarEstatusEfectivo", "Home")",
                    data: datos,
                })
                .done(function (r) {

                 if (r.success) {

                        toastr.success("Valores guardados con exito!", 'Éxito!');
                        window.setTimeout(location.reload(), 4000);
                    } else {
                        // $.Notification.notify('error', 'top right', 'Error!', r.message)
                        toastr.error(r.message, 'Error!');
                    }
    });
                Pace.stop();
            });

            $("#guardar").on("click", function () {

                Pace.start();
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("_GuardarConfiguracion", "Home")",
                    data: $("#configform").serialize(),
                })
            .done(function (r) {

                if (r.success) {

                    toastr.success("Valores guardados con exito!", 'Éxito!');
                    //window.setTimeout(location.reload(), 4000);
                } else {
                    // $.Notification.notify('error', 'top right', 'Error!', r.message)
                    toastr.error(r.message, 'Error!');
                }
            });
                Pace.stop();
            });


            $("#actualizartasa").on("click", function () {

                Pace.start();


                $.ajax({
                    method: "POST",
                    url: "@Url.Action("_ActualizarTasa", "Home")"

                })
                    .done(function (r) {

                        if (r.success) {

                            toastr.success("Valores guardados con exito!", 'Éxito!');
                            window.setTimeout(location.reload(), 4000);
                        } else {
                            // $.Notification.notify('error', 'top right', 'Error!', r.message)
                            toastr.error(r.message, 'Error!');
                        }
                    });
                Pace.stop();
            });

            $("#guardarcambio").on("click", function () {

                Pace.start();
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("_GuardarCambio", "Home")",
                    data: $("#cambioform").serialize(),
                })
                .done(function (r) {

                    if (r.success) {

                        toastr.success("Valores guardados con exito!", 'Éxito!');
                        window.setTimeout(location.reload(), 4000);
                    } else {
                        // $.Notification.notify('error', 'top right', 'Error!', r.message)
                        toastr.error(r.message, 'Error!');
                    }
                });
                Pace.stop();
            });

            $("#guardardolar").on("click", function () {

                Pace.start();
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("_GuardarDolar", "Home")",
                    data: $("#dolarform").serialize(),
                })
                  .done(function (r) {

                      if (r.success) {

                          toastr.success("Valores guardados con exito!", 'Éxito!');
                          window.setTimeout(location.reload(), 4000);
                      } else {
                          // $.Notification.notify('error', 'top right', 'Error!', r.message)
                          toastr.error(r.message, 'Error!');
                      }
                  });
                Pace.stop();
            });
        })


        function TotalizarAcciones() {
            var ca = $("#cantidadaccion").val();
            var ta = $("#totalactivos").val();
            var tp = $("#totalpasivos").val();
            if (ca == 0) {
                var total = 0;
                $("#nuevovalor").val(total.toFixed(2));
            } else {
                var total = 0;
                total = (ta - tp) / ca;
                total = total.toFixed(2);

                $("#nuevovalor").val(total);
            }

        }

        function Totalizar() {
            var tb = $("#montodolaresBS").val();
            var td = $("#totaldolares").val();
            var pc = $("#pendienteporcobrar").val();
            var tt = $("#dolarestransito").val();

            var total = 0;
            total += Number(tb);
            total += Number(td);
            total += Number(pc);
            total += Number(tt);
            total = total.toFixed(2);
            $("#totalactivos").val(total);
            TotalizarC();

        }

        function TotalizarC() {

            var ta = $("#totalactivos").val();
            var tp = $("#totalpasivos").val();

            var total = 0;
            total = (ta - tp);
            total = total.toFixed(2);

            $("#totalcapital").val(total);
            TotalizarAcciones();
        }

        function TotalizarP() {
            var tbp = $("#montodolarespBS").val();
            var tdp = $("#totaldolaresp").val();


            var totalp = 0;
            totalp += Number(tbp);
            totalp += Number(tdp);
            totalp = totalp.toFixed(2);
            $("#totalpasivos").val(totalp);
            TotalizarC();
        }

        $("#totalbancosBS").on("change", function myfunction() {
            var td = $(this).val();
            var tasa = $("#tasadolares").val();

            var t = parseFloat(td / tasa);
            t = t.toFixed(2);
            $("#montodolaresBS").val(t);

            Totalizar();
        });
        $("#totalbancospBS").on("change", function myfunction() {
            var td = $(this).val();
            var tasa = $("#tasadolares").val();

            var t = parseFloat(td / tasa);
            t = t.toFixed(2);
            $("#montodolarespBS").val(t);

            TotalizarP();
        });
        //$("#montodolares").on("change", function myfunction() {
        //    var td = $("#montodolares").val();
        //    var tasa = $("#tasadolares").val();

        //    var t = parseFloat(td * tasa);

        //    $("#totaldolares").val(t);
        //    Totalizar();
        //});
        //$("#montodolaresp").on("change", function myfunction() {
        //    var td = $("#montodolaresp").val();
        //    var tasa = $("#tasadolaresp").val();

        //    var t = parseFloat(td * tasa);

        //    $("#totaldolaresp").val(t);
        //    TotalizarP();
        //});
        $("#pendienteporcobrar").on("change", function myfunction() {
            Totalizar();
        });
        $("#totaldolares, #dolarestransito").on("change", function myfunction() {
            Totalizar();
        });
        $("#totaldolaresp").on("change", function myfunction() {
            TotalizarP();
        });


        $(document).ready(function () {


	            $("input[data-type='currency']").on({
                    keyup: function() {
                      formatCurrency($(this));
                    },
                    blur: function() {
                      formatCurrency($(this), "blur");
                    }
                });


                function formatNumber(n) {
                  // format number 1000000 to 1,234,567
                  return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ".")
                }


                function formatCurrency(input, blur) {
                  // appends $ to value, validates decimal side
                  // and puts cursor back in right position.

                  // get input value
                  var input_val = input.val();

                  // don't validate empty input
                  if (input_val === "") { return; }

                  // original length
                  var original_len = input_val.length;

                  // initial caret position
                  var caret_pos = input.prop("selectionStart");

                  // check for decimal
                  if (input_val.indexOf(",") >= 0) {

                    // get position of first decimal
                    // this prevents multiple decimals from
                    // being entered
                    var decimal_pos = input_val.indexOf(",");

                    // split number by decimal point
                    var left_side = input_val.substring(0, decimal_pos);
                    var right_side = input_val.substring(decimal_pos);
                 
                    
                    // add commas to left side of number
                    left_side = formatNumber(left_side);

                    // validate right side
                    right_side = formatNumber(right_side);

                    

                    // On blur make sure 2 numbers after decimal
                    if (blur === "blur") {
                      right_side += "00";
                    }

                    // Limit decimal to only 2 digits
                    right_side = right_side.substring(0, 2);

                    // join number by .
                      input_val = left_side + "," + right_side;
                      $(input).next('input').val(left_side.split('.').join("") + "," + right_side);


                  } else {
                    // no decimal entered
                    // add commas to number
                    // remove all non-digits
           
                    input_val = formatNumber(input_val);
                    input_val = input_val;

                    // final formatting
                    if (blur === "blur") {
                        input_val += ",00";

                      }

                      $(input).next('input').val(input_val.split('.').join(""));
                  }

                  // send updated string to input
                  input.val(input_val);

                  // put caret back in the right position
                  var updated_len = input_val.length;
                  caret_pos = updated_len - original_len + caret_pos;
                    input[0].setSelectionRange(caret_pos, caret_pos);


                }

            //var projectname = "Transax";
            var table = $('table.dtinit').DataTable({

                order: [],
                "pageLength": 50,
                buttons: [{
                    text: 'Copiar',
                    extend: "copy",
                    className: "btn-sm"
                }, {
                    extend: "csv",
                    className: "btn-sm",
                    action: function (e, dt, button, config) {
                        //if ($('#filterRoles').val() != "") {
                        //    config.filename = $('#filterRoles').val().replace(/[^\w\s]/gi, '').replace(/ /g, "_");;
                        //} else {
                        config.filename = projectname;
                        //}

                        $.fn.dataTable.ext.buttons.Html5.action(e, dt, button, config);
                    }
                }, {
                    extend: "excel",
                    className: "btn-sm",
                    action: function (e, dt, button, config) {
                        //if ($('#filterRoles').val() != "") {
                        //    config.filename = $('#filterRoles').val().replace(/[^\w\s]/gi, '').replace(/ /g, "_");
                        //} else {
                        config.filename = projectname;
                        //}

                        $.fn.dataTable.ext.buttons.excelHtml5.action(e, dt, button, config);
                    }
                }, {
                    extend: "pdf",
                    className: "btn-sm",
                    action: function (e, dt, button, config) {
                        //if ($('#filterRoles').val() != "") {
                        //    config.filename = $('#filterRoles').val().replace(/[^\w\s]/gi, '').replace(/ /g, "_");
                        //} else {
                        config.filename = projectname;
                        //}

                        $.fn.dataTable.ext.buttons.pdfHtml5.action(e, dt, button, config);
                    }
                }, {
                    extend: "print",
                    text: 'Imprimir',
                    className: "btn-sm",
                    action: function (e, dt, button, config) {
                        //if ($('#filterRoles').val() != "") {
                        //    config.filename = $('#filterRoles').val().replace(/[^\w\s]/gi, '').replace(/ /g, "_");;
                        //} else {
                        config.filename = projectname;
                        //}

                        $.fn.dataTable.ext.buttons.print.action(e, dt, button, config);
                    }
                }],
                language: {
                    url: "@Url.Content("~/Scripts/datatables/spanish.json")",
                    buttons: {
                        copyTitle: 'Tabla copiada al portapapeles',
                        copySuccess: {
                            _: 'Se han copiado %d filas.',
                            1: 'Se ha copiado 1 fila.'
                        }
                    }
                },
                //responsive: true,
                @*"ajax": '@Url.Action("GetData", "CUser")',*@
                "dom": '<"row"<"col-md-6 col-sm-12"B><"col-md-6 col-sm-12  text-right"f>><"row"<"col-md-6 col-sm-12"l>><"row"<"col-md-6"r>><"row"<"col-sm-12"t>><"clearfix"><"col-md-6 col-sm-12"i><"col-md-6 col-sm-12 text-right"p>'
            });

        });

    </script>
}
