@model PaymentRequest.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@{
    ViewBag.Title = "Solicitud de Pago en Transax";

}

<!-- =========================
        LOGIN SECTION
============================== -->

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Solicitud de Pago</h4>
        </div>
    </div>
</div>
<div class="wrapper-page panel panel-default">

    <div class="panel-heading">
        <h4>Ingrese a Solicitud de Pago</h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm", @class = "form-horizontal", role = "form", novalidate = "", data_parsley_validate = "" }))
        {
            @Html.AntiForgeryToken()

            <input type="hidden" value="@(ViewBag.ReturnUrl == null ? string.Empty :ViewBag.ReturnUrl )" name="returnUrl" id="returnUrl" />
            <div class="form-group">
                <div class="col-xs-12">
                    @Html.TextBoxFor(m => m.Cedula, new { @class = "form-control", @placeholder = "Cédula de Identidad", required = "", data_parsley_trigger = "change", data_parsley_type = "integer" })
                    <i class="md md-account-circle form-control-feedback l-h-34"></i>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "", @placeholder = "Contraseña", data_parsley_trigger = "change" })
                    <i class="md md-vpn-key form-control-feedback l-h-34"></i>
                </div>
            </div>

            <div class="form-group text-right m-t-20">
                <div class="col-xs-12">
                    <button class="btn btn-block btn-primary btn-custom btn-submitLogin w-md waves-effect waves-light" type="button">
                        Ingresar
                    </button>
                </div>
            </div>

            <div class="form-group m-t-30">
                <div class="col-sm-12">
                    <a href=@Url.Action("ForgotPassword", "Account") class="text-muted">
                        <i class="fa fa-lock m-r-5"></i> Olvidó su contraseña?
                    </a>
                </div>
            </div>

        }
    </div>
</div>

<!-- Parsleyjs -->
<script type="text/javascript" src="~/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="~/plugins/parsleyjs/dist/i18n/es.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('.loader').hide();
        var form = $("#loginForm");        

        // Submit on Enter
        form.keypress(function (e) {
            if (e.keyCode == 13)
                $('.btn-submitLogin').click();
        });

        // Submit
        $('.btn-submitLogin').on("click", function () {
            form.parsley().validate();
            if (form.parsley().isValid()) {
                $('.btn-submitLogin').attr('disabled', 'disabled');
                $.post("@Url.Action("Login", "Account")", form.serialize(), function (r) {
                    console.log(r);
                    if (r.success) {
                        window.top.location = r.url;
                    }
                    else {
                        toastr.error(r.message)
                        $('.btn-submitLogin').prop('disabled', false);
                    }
                });
            }
            $('.btn-submitLogin').prop('disabled', false);
        });
    });
</script>
