@model Umbrella.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Recuperar contraseña";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- TITLE OF SITE -->
    <title>Transax – Plataforma de conciliación automática de pagos e impulsadora de negocios</title>
    <meta name="description" content="Implementa en tu negocio la única herramienta automatizada de conciliación de pagos por transferencia. Impulsa tu empresa con análisis de ingresos y avances de efectivo en línea." />

    <!-- FAVICON  -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/images/favicon.ico" type="image/x-icon">
    <!-- =========================
       STYLESHEETS
    ============================== -->
    <!-- BOOTSTRAP CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <!-- FONT ICONS -->
    <link href="~/Content/css/icons/iconfont.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />

    <!-- PLUGINS STYLESHEET -->
    <link href="~/Content/css/plugins/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/css/plugins/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/css/plugins/loaders.css" rel="stylesheet" />
    <link href="~/Content/css/plugins/animate.css" rel="stylesheet" />
    <link href="~/Content/css/plugins/parsley.css" rel="stylesheet" />
    <!-- CUSTOM STYLESHEET -->
    <!--link rel="stylesheet" href="css/style.css"-->
    <link href="~/Content/css/transax.css" rel="stylesheet" />
    <!-- RESPONSIVE FIXES -->
    <link href="~/Content/css/login-responsive.css" rel="stylesheet" />
</head>
<body data-spy="scroll" style="background-image: url('../../Content/images/login_cover.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover">
    <!-- Preloader -->
    <div class="loader bg-white">
        <div class="loader-inner ball-scale-ripple-multiple vh-center">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- =========================
            LOGIN SECTION
    ============================== -->
    <div class="login text-center">
        <img src="~/Content/images/logo-white.png" alt="Transax" title="Transax" class="text-center wow fadeIn" data-wow-delay="0.2s">
        <div class="login-ctn">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
            {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @id = "sfEmail", @class = "form-control", @placeholder = "Correo Electrónico", required = "", data_parsley_trigger = "change", data_parsley_type = "email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-blue btn-submitLogin">RECUPERAR</button>
                </div>

            }
            <div class="form-group">
                <div class="separator"></div>
            </div>
            <div class="form-group m-t-30">
                <div class="text-center">
                    <a href="@Url.Action("Login")" class="text-muted small">Recordé mi contraseña</a>
                </div>
            </div>
        </div>
        <!-- =========================
        FIRMA
        ============================== -->
        <section class="p-y firma firma-login">
            <div class="text-center">
                <div class="row">
                    <div class="firma-ctn">
                        <p class="small">Powered By</p>
                        <a href="http://legendsoft.com.ve/" target="_blank">
                            <img src="~/Content/images/legendsoft-white.png" alt="">
                        </a>
                    </div>
                </div>
            </div><!-- /End Container -->
        </section>
        <!-- /End Firma -->
    </div>
    <!-- /End Forgot PW -->
    <!-- =========================
         SCRIPTS
    ============================== -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.min.js"></script>
    <script src="~/Scripts/jquery.countTo.js"></script>
    <script src="~/Scripts/jquery.jCounter-0.1.4.js"></script>
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/jquery.vide.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/spectragram.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <!-- Custom Script -->
    <script src="~/Scripts/custom/custom.js"></script>
</body>
</html>

<!-- Parsley JS -->
<script type="text/javascript" src="~/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="~/plugins/parsleyjs/dist/i18n/es.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('.loader').hide();

        // Parsley
        var formInstance = $('form').parsley();
    });
</script>
